@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 768px) {
    
    header {
        display:flex;
        flex-flow:column-reverse;
        background-color: black;
    }
    nav{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    #button_search{
        height: 25px;
        padding: 0px;
    }
    #button_search:hover{
        padding: 0;
    }

    #barra_pesquisa{
        height: 23px;
        width: 70vw;
        font-size: 5px; 
        color: white;
        background-color: rgba(255, 255, 255, 0.229);
    }
    #imagem01{
        background-image: url("../imagem/destinys-child-2002-1516643614.jpg");
        background-size: cover;
        margin-top: 150px;
    }
    #biografia{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-top: 100px;
    }
    #titulobiografia{
        text-align: justify;
        font-size: 37px;
    }
    #paragrafobiografia{
        width: 80vw;
        padding-top: 10px;
        padding: 0;
        font-size: 15px;
    }
    #imagem02{
        height: 550px;
        padding: 30px;
    }
    #interlude{
        height: 100vh;
        display: flex;
        align-items: center;
    }
    #interludeh1{
        font-size: 25px;
        text-align: center;
    }
    #discografia1{
        display: flex;
        flex-flow: column;
        padding-top: 0px;
    }
    #discografiah1{
        padding: 50px;
        font-size: 37px;
    }
    .cd{
        display: flex;
        flex-flow: column-reverse;
        align-items: center;
    }
    .paragrafocd{
        width: 80vw;
        font-size: 15px;
    }
    .imagemcd{
        margin: 0;
        padding-bottom: 60px;
    }
    #areavenda{
        background-color: white;
        display: flex;
        flex-flow: column;
        padding: 90px;
        margin-top: -160px;
        }
    .vendacd{
        margin-top: 25px;
    }
    .imagemcdvenda{
        width: 37vw;
    }
    #contatos{
        display: flex;
        flex-flow: column;
        padding-top: 100px;
    }
    #informacoes2{
        margin-top: 30px;
        padding: 0;
    }
    .infcontatos{
        font-size: 12px;
    }
    #mb-1{
         width: 80vw;
    }
    .mb-3{
        width: 80vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    #barra_pesquisa{
        width: 20vw; 
    }
    #imagem01{
        background-image: url("../imagem/fotocapapequena.jpg");
        background-size: auto;
        background-position: center;
        width: 100vw;
        height: 85vh;
        background-color: black;
        
    }
    #biografia{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-top: 100px;
    }
    #titulobiografia{
        text-align: center;
        font-size: 48px;
        padding-bottom: 30px;
    }
    #paragrafobiografia{
        width: 80vw;
        padding-top: 10px;
        padding: 0;
        font-size: 24px;
    }
    #imagem02{
        height: 680px;
        width: 450px;
        padding: 35px;
    }
    #discografia1{
        display: flex;
        flex-flow: column;
    
    }
    #discografiah1{
        padding: 30px;
        font-size: 35px;
        
    }
    .cd{
        display: flex;
        flex-flow: column-reverse;
        align-items: center;
    }
    .tituloalbum{
        font-size: 35px;
    }
    .paragrafocd{
        width: 80vw;
        font-size: 24px;
    }
    .imagemcd{
        margin: 0;
        padding-bottom: 60px;
        height: 420px;
        width: 390px;
        
    }
    #areavenda{
        display: flex;
        flex-flow: row wrap;
    }
    #informacoes1{
        width: 50vw;
    }
    #informacoes2{
        font-size: 11px;
    }
}